[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
djangorestframework = "~=3.13"
psycopg2-binary = "~=2.9"
django-environ = "~=0.8"
django-cors-headers = "~=3.11"

[dev-packages]
factory-boy = "~=3.2"
flake8 = "~=4.0"
isort = "~=5.10"
vulture = "~=2.3"
django-migration-linter = "~=4.0"
dotenv-linter = "~=0.3"
safety = "~=1.10"
wemake-python-styleguide = "~=0.16"
flake8-django = "~=1.1"

[requires]
python_version = "3.10"
