[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django="*"
django-rest-framework="*"
psycopg2-binary="*"
environ = "*"
factory-boy="*"
django-cors-headers="*"

[dev-packages]
#factory boy powino być tutaj i wedy powinnam zrobić pipenv install --dev

[requires]
python_version = "3.8"
